/* Was having some CSS difficulties, so found this CSS reset to browser defualts */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************* Across all pages ********************************/

body {
    background: #66151f;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Raleway";
}

.logo {
    font-size: 70px;
    margin: 30px;
    font-weight: 400;
    color: #f5d6ba;
    text-align: center;
    font-family: "Sail", system-ui;
}

/************************** Header *******************************/

#site-header {
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Raleway";
}

#site-header a {
    float: left;
    padding: 12px 120px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

#site-header.loading {
    visibility: hidden;
}

#site-header.loaded {
    visibility: visible;
}

#site-header nav a {
  text-decoration: none;
  color: #fff;
}

/********************** General Use *********************/

.image-box {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

/******************** Login.html ************************************/

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background-color: rgb(41, 9, 12);
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(41, 9, 12);
    text-align: center;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: none;
    border-radius: 6px;
    background: #f4f4f4;
    color: #333;
    font-size: 1rem;
}

.login-form input:focus {
    outline: none;
    border: 2px solid #a85e5e;
}

.user-login-error  {
    color: #f3061a;
    font-size: 0.9rem;
    margin-top: -6px;
    margin-bottom: 10px;
}

/* Login Button */
.login-form button {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    background-color: #a85e5e;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-form button:hover {
    background-color: #843b3b;
}

.login-form input,
.login-form button {
    width: 100%;
    box-sizing: border-box;
}

.login-form p {
    margin: 0 0 8px 0;
    text-align: left;
    font-weight: bold;
    color: #f5d6ba;
}

.signup-text {
    margin-top: 12px;
    font-size: 0.9rem;
}

.signup-text a {
    color: #f5d6ba;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

/******************* Reviews.html *********************/

#review-container {
    display: flex;
    margin-top: 50px;
}

.review-box {
    background-color: rgb(31, 4, 7);
    border-radius: 16px;
    padding: 30px;
    width: 100%;
    box-shadow: 0 8px 20px rgba(41, 9, 12);
    margin-bottom: 50px;
}

.review-meta {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.review-info {
    font-size: 16px;
}

#review-username {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 15px;
    color: #f5d6ba;
}

#review-description {
    padding-top: 20px;
    font-size: 16px;
}

/******************* rate a wine *********************/
#submission {
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.input-group {
    padding: 20px;
}

.form-guide-text {
    padding-bottom: 10px;
}

/*************** profile *******************/
#profileContainer {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

#profileInfo {
    background-color: rgb(41, 9, 12);
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(41, 9, 12);
    text-align: center;
    margin-bottom: 30px;
}

#logout {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #a85e5e;
    border-radius: 6px;
    color: white;
    width: 100%;
    font-family: "Playfair Display";
}